<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="search-add">
    <div class="button-row">
      <a mat-flat-button color="primary" [routerLink]="['/add-users']"><mat-icon>add</mat-icon> Usuário</a>
    </div>
    <div class="search">
      <div class="input-group md-form form-sm form-1 pl-0">
        <div class="input-group-prepend">
          <span class="input-group-text purple lighten-3" id="basic-text1"><i icon="fas fa-search text-white"
              aria-hidden="true"></i></span>
        </div>
        <input matInput (keyup)="applyFilter($event)"  class="form-control my-0 py-1" type="text" placeholder="Busca" aria-label="Search">
      </div>
    </div>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="example-table"
           matSort matSortActive="name" matSortDisableClear matSortDirection="asc">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td class="campo-user" mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>
  
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef>Sobrenome</th>
            <td class="campo-user" mat-cell *matCellDef="let row">{{row.lastName}}</td>
        </ng-container>

        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef>Gênero</th>
          <td class="campo-user" mat-cell *matCellDef="let row">{{row.gender}}</td>
        </ng-container>

        <ng-container class="opcoes" matColumnDef="options">
          <mat-card-actions>
            <th mat-header-cell *matHeaderCellDef>Opções</th>
            <td class="campo-user" mat-cell *matCellDef="let row">
              <a mat-flat-button color="primary" [routerLink]="['/edit-users', row.id]">Editar</a>
              <a mat-flat-button color="warn" (click)="deleteUser(row.id)">Deletar</a>
            </td>
          </mat-card-actions>
        </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/users-details/', row.id]"></tr>
    </table>
  </div>
</div>
