
<mat-toolbar color="primary">
  <a mat-list-item [routerLink]="'/users'"><h1>Home</h1></a>
</mat-toolbar>

<!-- BREADCRUMB-->

<!-- BREADCRUMB END-->

<mat-sidenav-container>
<mat-sidenav #sidenav>
  <mat-nav-list>

    <a mat-list-item [routerLink]="'/users'"> User </a>
    <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item></a>

  </mat-nav-list>
</mat-sidenav>
<mat-sidenav-content>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-content>
</mat-sidenav-container>


